* {
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
	text-align: center;
	margin: 0;
}

p {
	margin: 10px;
}

.hidden {
	display: none;
}

.btn-delete {
	width: 25px;
	height: 25px;
	margin-left: 50px;
}

.navigation {
	background: #212121;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	max-width: 300px;
	z-index: 100;
	box-shadow: 1px 1px 5px #000;
	overflow: hidden;
}

.board-navigation {
	width: calc(100% - 25px);
	max-width: 275px;	
	height: 100vh;
	position: relative;
}

.board-list {
	height: calc(100vh - 130px);
	overflow-y: auto;
}

.board-container {
	width: calc(100% - 300px);
	float: right;
}
	
.create-board {
	background: #000;
	color: #f0f0f0;
	padding: 15px 40px;
	font-size: 1.2em;
	border: none;
	margin: 30px;
}

.create-board:hover {
	color: #000;
	background: #00FF25;
}

.create-board:focus {
	outline: none;
}

.chevron {
	position: absolute;
	right: 0;
	top: 50%;
	background: #000;
	color: #f0f0f0;
	width: 25px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 2%;
	cursor: pointer;
	z-index: 100;
}

.board-list {
	list-style: none;
}

.board-list li {
	color: #f0f0f0;
	text-align: left;
	font-size: 1.5em;
	margin-right: 25px;
	padding: 10px 10px 10px 40px;
}

.board-list li:hover,
.board-list li:active,
.board-list li.active,
.board-list li:focus {
	background: #4D4D4D;
	cursor: pointer;
}

.board-list .btn-delete {
	float: right;
	margin: 0;
}

.board-list p {
	display: inline-block;
	max-width: 200px;
	margin: 0;
}

.board {
	display: none;
	padding: 40px;
	position: relative;
}

.board.active {
	display: block;
}

.create-column {
	padding: 10px 20px;
	background: #005AFF;
	border: none;
	color: #f0f0f0;
}

.column-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	padding: 40px 10px;
}

.column:last-of-type {
	border: none;
}

.column-title-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #FF00D9;
	margin-bottom: 20px;
	position: relative;
}

.btn-delete-board {
	position: absolute;
	right: 40px;
	top: 40px;
}

.btn-delete-description {
	position: absolute;
	top: -20px;
	right: -40px;
	border: 1px solid #000;
	background: #FFF9A6;
	padding: 2px;
}

ul {
	list-style-type: none;
	padding-left: 0;
	min-height: 20px;
}

.card {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	background: #FFFBC9;
	margin-bottom: 5px;
	position: relative;
	padding: 5px;
}

textarea {
	background: #FFFBC9;
	max-width: 200px;
	border: none;
	font-family: Arial;
	appearance: ;
}

textarea:focus {
	outline: none;
}

.add-card {
	padding: 5px 10px;
	background: #005AFF;
	border: none;
	color: #f0f0f0;
}

.card-placeholder {
	border: 1px dashed #ccc;
	min-height: 50px;
}
